/* ----------------------------------------------------------- */
/* COLOR VARIABLES */
/* ----------------------------------------------------------- */

body{
	--primary-color: #100000;
	--secondary-color: #bd027d;
	--secondary-alpha-Dot50: rgba(189, 2, 125, 0.5);
	--secondary-alpha-Dot85: rgba(189, 2, 125, 0.85);
}